@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.content {
  margin-top: 64px;
  margin-bottom: 64px;
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
 

* {
  scrollbar-width: auto;
  scrollbar-color: #ccc5ce #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc5ce;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
