.social-icon-google {
  color: white;
  background-color: #db4437;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
}
.social-icon-google:hover {
  background: #db4437;
  opacity: 1;
}
