
.social-icon-facebook{
  color: white;
  background-color: #3B5998;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.social-icon-facebook:hover {
    background:#426782 ;
    opacity: 1; 
  }